<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		classpath:/org/springframework/beans/factory/xml/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context 
		classpath:/org/springframework/context/config/spring-context-3.2.xsd">




	<!-- 连接池配置 -->
	<bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
		<!-- 最大分配的对象数 -->
		<property name="maxTotal" value="1024" />
		<!-- 最大能够保持idel状态的对象数 -->
		<property name="maxIdle" value="5000" />
		<!-- 多长时间检查一次连接池中空闲的连接 -->
		<property name="timeBetweenEvictionRunsMillis" value="1000" />
		<!-- 空闲连接多长时间后会被收回 -->
		<property name="minEvictableIdleTimeMillis" value="30000" />
		<!-- 调用borrow 一个对象方法时，是否检查其有效性 -->
		<property name="testOnBorrow" value="false" />
		<!-- 调用return 一个对象方法时，是否检查其有效性 -->
		<property name="testOnReturn" value="false" />
		<!-- 在空闲时检查有效性, 默认false -->
		<property name="testWhileIdle" value="true" />
	</bean>

	<!-- sentinel连接池对象 -->
	<bean id="shardedJedisSentinelPool" class="redis.clients.jedis.ShardedJedisSentinelPool">
		<!-- master-name -->
		<constructor-arg index="0" name="masters">
			<list>
				<value>master1</value>
				<value>master2</value>
			</list>
		</constructor-arg>
		<!-- sentinel集群地址列表 -->
		<constructor-arg index="1" name="sentinels">
			<set>
				<value>192.168.1.112:26379</value>
				<value>192.168.1.112:26380</value>
			</set>
		</constructor-arg>
		<!-- pool配置 -->
		<constructor-arg index="2" ref="jedisPoolConfig" />
	</bean>

</beans>